[build]
  base = "frontend"
  publish = "dist"
  command = "npm run build"

[build.environment]
  CI = "false" 
  NPM_FLAGS = "--legacy-peer-deps"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

